
<%- include('../partials/header'); %>

<!-- Composite pattern: The DOM tree in HTML is a good example of the Composite pattern. 
Each element in the DOM tree implements the HTMLComponent interface. An element
can either be an HTMLComposite, which further contains more elements, or it could
be an HTMLLeaf, the leaf of that tree node. Both HTMLLeaf and HTMLComposite
implement the HTMLComponent interface. -->

<h1 class="my-3">Dashboard</h1>

  <% if (person.isAdmin) { %>
  <form class="row g-3 my-3" action="/weather-station/toggle-state" method="POST">
  <% } else { %>
  <div class="row g-3 my-3">
  <% } %>
  <% if (weatherStations.length === 0) { %>
    <p>You haven't subscribed to any Weather Stations!<br>
    <a href="/preferences" class="link-primary">Update Subscription Preferences</a></p>
  <% } %>
  <% for (const weatherStation of weatherStations) { %>
    <div class="col-md-6">
      <div class="card <%= weatherStation.enabledState ? 'border-primary' : 'text-dark bg-light' %>">
        <h5 class="card-header"><%= weatherStation.name %></h5>
        <div class="card-body">
          <p class="card-text mb-2">State: <%= weatherStation.enabledState ? 'Enabled' : 'Disabled' %></p>
          <p class="card-text mb-2">Temperature: <%= weatherStation.temperature %> °C</p>
          <p class="card-text mb-2">Pressure: <%= weatherStation.pressure %> Pa</p>
          <p class="card-text mb-2">Humidity: <%= weatherStation.humidity %> %</p>
          <p class="card-text mb-2">Altitude: <%= weatherStation.altitude %> m</p>
        </div>
        <% if (person.isAdmin) { %>
        <div class="card-footer text-center">
          <button type="submit" name="id" value="<%= weatherStation.id %>" 
            class="btn <%= weatherStation.enabledState ? 'btn-secondary' : 'btn-primary' %>"><%= weatherStation.enabledState ? 'Disable' : 'Enable' %></button>
        </div>
        <% } %>
      </div>
    </div>
  <% } %>
  <% if (person.isAdmin) { %>
  </form>
  <% } else { %>
  </div>
  <% } %>

<%- include('../partials/footer'); %>
