
<%- include('../partials/header'); %>

<h1 class="my-3">Preferences</h1>
<% if (typeof (errors) != 'undefined' && errors.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
    <% for(let i=0; i<errors.length; i++) {%>
      <div><%= errors[i]%></div>
    <% } %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<% if (typeof (updated) != 'undefined' && updated) { %>
  <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
    <span>Preferences updated successfully!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<form class="row g-3" action="/preferences" method="POST">
  <div class="col-12">
    <div class="form-check">
      <label class="form-check-label" for="exampleCheck1">Receive interval notifications</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="intervalNotificationsEnabled"
      value="true" <% if (preferences.intervalNotificationsEnabled) { %> checked="" <% } %> >
    </div>
  </div>
  <div class="col-12">
    <label class="form-label" for="exampleSelect">Time interval</label>
    <select class="form-select" id="exampleSelect" aria-label="Default select example" name="timeInterval">
      <% const timeIntervals = [1, 2, 3, 4, 6, 8, 12]; %>
      <% for (const timeInterval of timeIntervals) { %>
        <option value="<%= timeInterval %>" <% if (timeInterval == preferences.timeInterval) { %> selected="" <% } %> >
          <%= timeInterval %> hour<%= timeInterval != 1 ? 's' : '' %>
        </option>
      <% } %>
    </select>
  </div>
  <div class="col-12">
    <div class="form-check">
      <label class="form-check-label" for="exampleCheck2">Receive alarm notifications</label>
      <input type="checkbox" class="form-check-input" id="exampleCheck2" name="alarmNotificationsEnabled"
        value="true" <% if (preferences.alarmNotificationsEnabled) { %> checked="" <% } %> >
    </div>
  </div>
  <div class="col-md-6">
    <label for="exampleInput1" class="form-label">Minimum Temperature</label>
    <input type="number" step="0.01" class="form-control" id="exampleInput1" name="minTemperature"
      value="<%= preferences.minTemperature %>">
  </div>
  <div class="col-md-6">
    <label for="exampleInput2" class="form-label">Maximum Temperature</label>
    <input type="number" step="0.01" class="form-control" id="exampleInput2" name="maxTemperature"
      value="<%= preferences.maxTemperature %>">
  </div>
  <div class="col-md-6">
    <label for="exampleInput3" class="form-label">Minimum Pressure</label>
    <input type="number" step="0.01" class="form-control" id="exampleInput3" name="minPressure"
      value="<%= preferences.minPressure %>">
  </div>
  <div class="col-md-6">
    <label for="exampleInput4" class="form-label">Maximum Pressure</label>
    <input type="number" step="0.01" class="form-control" id="exampleInput4" name="maxPressure"
      value="<%= preferences.maxPressure %>">
  </div>
  <div class="col-md-6">
    <label for="exampleInput5" class="form-label">Minimum Humidity</label>
    <input type="number" step="0.01" class="form-control" id="exampleInput5" name="minHumidity"
      value="<%= preferences.minHumidity %>">
  </div>
  <div class="col-md-6">
    <label for="exampleInput6" class="form-label">Maximum Humidity</label>
    <input type="number" step="0.01" class="form-control" id="exampleInput6" name="maxHumidity"
      value="<%= preferences.maxHumidity %>">
  </div>
  <div class="col-md-6">
    <label for="exampleInput7" class="form-label">Minimum Altitude</label>
    <input type="number" step="0.01" class="form-control" id="exampleInput7" name="minAltitude"
      value="<%= preferences.minAltitude %>">
  </div>
  <div class="col-md-6">
    <label for="exampleInput8" class="form-label">Maximum Altitude</label>
    <input type="number" step="0.01" class="form-control" id="exampleInput8" name="maxAltitude"
      value="<%= preferences.maxAltitude %>">
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary my-3">Submit</button>
  </div>
</form>

<%- include('../partials/footer'); %>
